<head>
	<meta charset="utf-8" />
	<meta http-equiv="x-ua-compatible" content="ie=edge" />
	<title>Quarter - Real Estate HTML Template</title>
	<meta name="robots" content="noindex, follow" />
	<meta name="description" content="" />
	<meta
		name="viewport"
		content="width=device-width, initial-scale=1, shrink-to-fit=no"
	/>

	<!-- Place favicon.png in the root directory -->
	<link rel="shortcut icon" href="img/favicon.png" type="image/x-icon" />
	<!-- Font Icons css -->
	<link rel="stylesheet" href="css/font-icons.css" />
	<!-- plugins css -->
	<link rel="stylesheet" href="css/plugins.css" />
	<!-- Main Stylesheet -->
	<link rel="stylesheet" href="css/style.css" />
	<!-- Responsive css -->
	<link rel="stylesheet" href="css/responsive.css" />
</head>

<body>
	<!--[if lte IE 9]>
		<p class="browserupgrade">
			You are using an <strong>outdated</strong> browser. Please
			<a href="https://browsehappy.com/">upgrade your browser</a> to improve
			your experience and security.
		</p>
	<![endif]-->

	<!-- Add your site or application content here -->

	<!-- Body main wrapper start -->
	<div class="body-wrapper">
		<!-- HEADER AREA START (header-5) -->
		<header
			class="ltn__header-area ltn__header-5 ltn__header-logo-and-mobile-menu-in-mobile ltn__header-logo-and-mobile-menu ltn__header-transparent gradient-color-4---"
		>
			<!-- ltn__header-top-area start -->
			<div class="ltn__header-top-area top-area-color-white">
				<div class="container">
					<div class="row">
						<div class="col-md-7">
							<div class="ltn__top-bar-menu">
								<ul>
									<li>
										<a
											href="mailto:info@webmail.com?Subject=Flower%20greetings%20to%20you"
											><i class="icon-mail"></i> info@webmail.com</a
										>
									</li>
									<li>
										<a href="locations.html"
											><i class="icon-placeholder"></i> 15/A, Nest Tower, NYC</a
										>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- ltn__header-top-area end -->

			<!-- ltn__header-middle-area start -->
			<div
				class="ltn__header-middle-area ltn__header-sticky ltn__sticky-bg-black"
			>
				<div class="container">
					<div class="row">
						<div class="col">
							<div class="site-logo-wrap">
								<div class="site-logo">
									<a href="index.html"
										><img src="../img/logo-2.png" alt="Logo"
									/></a>
								</div>
								<div class="get-support clearfix d-none">
									<div class="get-support-icon">
										<i class="icon-call"></i>
									</div>
									<div class="get-support-info">
										<h6>Get Support</h6>
										<h4><a href="tel:+123456789">123-456-789-10</a></h4>
									</div>
								</div>
							</div>
						</div>
						<div class="col header-menu-column menu-color-white">
							<div class="header-menu d-none d-xl-block">
								<nav>
									<div class="ltn__main-menu">
										<ul>
											<li class="menu-icon">
												<a href="#">Home</a>
												<ul class="sub-menu menu-pages-img-show">
													<li>
														<a href="index.html">Home Style 01</a>
														<img src="../img/home-demos/home-1.jpg" alt="#" />
													</li>
													<li>
														<a href="index-2.html">Home Style 02</a>
														<img src="../img/home-demos/home-2.jpg" alt="#" />
													</li>
													<li>
														<a href="index-3.html">Home Style 03</a>
														<img src="../img/home-demos/home-3.jpg" alt="#" />
													</li>
													<li>
														<a href="index-4.html">Home Style 04</a>
														<img src="../img/home-demos/home-4.jpg" alt="#" />
													</li>
													<li>
														<a href="index-5.html"
															>Home Style 05
															<span class="menu-item-badge">video</span></a
														>
														<img src="../img/home-demos/home-5.jpg" alt="#" />
													</li>
													<li>
														<a href="index-6.html">Home Style 06</a>
														<img src="../img/home-demos/home-6.jpg" alt="#" />
													</li>
													<li>
														<a href="index-7.html">Home Style 07</a>
														<img src="../img/home-demos/home-7.jpg" alt="#" />
													</li>
													<li>
														<a href="index-8.html">Home Style 08</a>
														<img src="../img/home-demos/home-8.jpg" alt="#" />
													</li>
													<li>
														<a href="index-9.html">Home Style 09</a>
														<img src="../img/home-demos/home-9.jpg" alt="#" />
													</li>
													<li>
														<a href="index-10.html"
															>Home Style 10
															<span class="menu-item-badge">Map</span></a
														>
														<img src="../img/home-demos/home-10.jpg" alt="#" />
													</li>
													<li>
														<a href="index-11.html">Home Style 11</a>
														<img src="../img/home-demos/home-11.jpg" alt="#" />
													</li>
												</ul>
											</li>
											<li class="menu-icon">
												<a href="#">About</a>
												<ul>
													<li><a href="about.html">About</a></li>
													<li><a href="service.html">Services</a></li>
													<li><a href="faq.html">FAQ</a></li>
												</ul>
											</li>
											<li class="menu-icon">
												<a href="#">Shop</a>
												<ul>
													<li><a href="shop.html">Shop</a></li>
													<li><a href="shop-grid.html">Shop Grid</a></li>
													<li>
														<a href="shop-left-sidebar.html"
															>Shop Left sidebar</a
														>
													</li>
													<li>
														<a href="shop-right-sidebar.html"
															>Shop right sidebar</a
														>
													</li>
													<li>
														<a href="product-details.html">Shop details </a>
													</li>
													<ul>
														<li><a href="cart.html">Cart</a></li>
														<li><a href="wishlist.html">Wishlist</a></li>
														<li><a href="account.html">My Account</a></li>
														<li><a href="login.html">Sign in</a></li>
														<li><a href="register.html">Register</a></li>
													</ul>
												</ul>
											</li>
											<li class="menu-icon">
												<a href="#">News</a>
												<ul>
													<li><a href="blog.html">News</a></li>
													<li><a href="blog-grid.html">News Grid</a></li>
													<li>
														<a href="blog-left-sidebar.html"
															>News Left sidebar</a
														>
													</li>
													<li>
														<a href="blog-right-sidebar.html"
															>News Right sidebar</a
														>
													</li>
												</ul>
											</li>
											<li class="menu-icon">
												<a href="#">Pages</a>
												<ul class="mega-menu">
													<li>
														<a href="#">Inner Pages</a>
														<ul>
															<li><a href="team.html">Team</a></li>
															<li>
																<a href="team-details.html">Team Details</a>
															</li>
															<li><a href="faq.html">FAQ</a></li>
														</ul>
													</li>
													<li>
														<a href="#">Inner Pages</a>
														<ul>
															<li><a href="history.html">History</a></li>
														</ul>
													</li>
													<li>
														<a href="#">Shop Pages</a>
														<ul>
															<li><a href="shop.html">Shop</a></li>
															<li>
																<a href="shop-left-sidebar.html"
																	>Shop Left sidebar</a
																>
															</li>
															<li>
																<a href="shop-right-sidebar.html"
																	>Shop right sidebar</a
																>
															</li>
															<li><a href="shop-grid.html">Shop Grid</a></li>
															<li>
																<a href="product-details.html">Shop details </a>
															</li>
															<li><a href="cart.html">Cart</a></li>
														</ul>
													</li>
													<li>
														<a href="shop.html"
															><img
																src="../img/banner/menu-banner-1.jpg"
																alt="#"
														/></a>
													</li>
												</ul>
											</li>
											<li><a href="contact.html">Contact</a></li>
											<li class="special-link">
												<!--<a href="add-listing.html">Add Listing</a>-->
												<%= link_to "Sign Out", destroy_user_session_path,
												method: :delete %>
											</li>
										</ul>
									</div>
								</nav>
							</div>
						</div>
						<div class="col--- ltn__header-options ltn__header-options-2">
							<!-- Mobile Menu Button -->
							<div class="mobile-menu-toggle d-xl-none">
								<a href="#ltn__utilize-mobile-menu" class="ltn__utilize-toggle">
									<svg viewBox="0 0 800 600">
										<path
											d="M300,220 C300,220 520,220 540,220 C740,220 640,540 520,420 C440,340 300,200 300,200"
											id="top"
										></path>
										<path d="M300,320 L540,320" id="middle"></path>
										<path
											d="M300,210 C300,210 520,210 540,210 C740,210 640,530 520,410 C440,330 300,190 300,190"
											id="bottom"
											transform="translate(480, 320) scale(1, -1) translate(-480, -318) "
										></path>
									</svg>
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- ltn__header-middle-area end -->
		</header>
		<!-- HEADER AREA END -->

		<!-- Utilize Cart Menu Start -->
		<div
			id="ltn__utilize-cart-menu"
			class="ltn__utilize ltn__utilize-cart-menu"
		>
			<div class="ltn__utilize-menu-inner ltn__scrollbar">
				<div class="ltn__utilize-menu-head">
					<span class="ltn__utilize-menu-title">Cart</span>
					<button class="ltn__utilize-close">×</button>
				</div>
				<div class="mini-cart-product-area ltn__scrollbar">
					<div class="mini-cart-item clearfix">
						<div class="mini-cart-img">
							<a href="#"><img src="../img/product/1.png" alt="Image" /></a>
							<span class="mini-cart-item-delete"
								><i class="icon-cancel"></i
							></span>
						</div>
						<div class="mini-cart-info">
							<h6><a href="#">Wheel Bearing Retainer</a></h6>
							<span class="mini-cart-quantity">1 x $65.00</span>
						</div>
					</div>
					<div class="mini-cart-item clearfix">
						<div class="mini-cart-img">
							<a href="#"><img src="../img/product/2.png" alt="Image" /></a>
							<span class="mini-cart-item-delete"
								><i class="icon-cancel"></i
							></span>
						</div>
						<div class="mini-cart-info">
							<h6><a href="#">3 Rooms Manhattan</a></h6>
							<span class="mini-cart-quantity">1 x $85.00</span>
						</div>
					</div>
					<div class="mini-cart-item clearfix">
						<div class="mini-cart-img">
							<a href="#"><img src="../img/product/3.png" alt="Image" /></a>
							<span class="mini-cart-item-delete"
								><i class="icon-cancel"></i
							></span>
						</div>
						<div class="mini-cart-info">
							<h6><a href="#">OE Replica Wheels</a></h6>
							<span class="mini-cart-quantity">1 x $92.00</span>
						</div>
					</div>
					<div class="mini-cart-item clearfix">
						<div class="mini-cart-img">
							<a href="#"><img src="../img/product/4.png" alt="Image" /></a>
							<span class="mini-cart-item-delete"
								><i class="icon-cancel"></i
							></span>
						</div>
						<div class="mini-cart-info">
							<h6><a href="#">Shock Mount Insulator</a></h6>
							<span class="mini-cart-quantity">1 x $68.00</span>
						</div>
					</div>
				</div>
				<div class="mini-cart-footer">
					<div class="mini-cart-sub-total">
						<h5>Subtotal: <span>$310.00</span></h5>
					</div>
					<div class="btn-wrapper">
						<a href="cart.html" class="theme-btn-1 btn btn-effect-1"
							>View Cart</a
						>
						<a href="cart.html" class="theme-btn-2 btn btn-effect-2"
							>Checkout</a
						>
					</div>
					<p>Free Shipping on All Orders Over $100!</p>
				</div>
			</div>
		</div>
		<!-- Utilize Cart Menu End -->

		<!-- Utilize Mobile Menu Start -->
		<div
			id="ltn__utilize-mobile-menu"
			class="ltn__utilize ltn__utilize-mobile-menu"
		>
			<div class="ltn__utilize-menu-inner ltn__scrollbar">
				<div class="ltn__utilize-menu-head">
					<div class="site-logo">
						<a href="index.html"><img src="../img/logo.png" alt="Logo" /></a>
					</div>
					<button class="ltn__utilize-close">×</button>
				</div>
				<div class="ltn__utilize-menu-search-form">
					<form action="#">
						<input type="text" placeholder="Search..." />
						<button><i class="fas fa-search"></i></button>
					</form>
				</div>
				<div class="ltn__utilize-menu">
					<ul>
						<li>
							<a href="#">Home</a>
							<ul class="sub-menu">
								<li><a href="index.html">Home Style 01</a></li>
								<li><a href="index-2.html">Home Style 02</a></li>
								<li><a href="index-3.html">Home Style 03</a></li>
								<li><a href="index-4.html">Home Style 04</a></li>
								<li>
									<a href="index-5.html"
										>Home Style 05 <span class="menu-item-badge">video</span></a
									>
								</li>
								<li><a href="index-6.html">Home Style 06</a></li>
								<li><a href="index-7.html">Home Style 07</a></li>
								<li><a href="index-8.html">Home Style 08</a></li>
								<li><a href="index-9.html">Home Style 09</a></li>
								<li>
									<a href="index-10.html"
										>Home Style 10 <span class="menu-item-badge">Map</span></a
									>
								</li>
								<li><a href="index-11.html">Home Style 11</a></li>
							</ul>
						</li>
						<li>
							<a href="#">About</a>
							<ul class="sub-menu">
								<li><a href="about.html">About</a></li>
								<li><a href="service.html">Services</a></li>
								<li><a href="service-details.html">Service Details</a></li>
								<li><a href="portfolio.html">Portfolio</a></li>
								<li><a href="portfolio-2.html">Portfolio - 02</a></li>
								<li><a href="portfolio-details.html">Portfolio Details</a></li>
								<li><a href="team.html">Team</a></li>
								<li><a href="team-details.html">Team Details</a></li>
								<li><a href="faq.html">FAQ</a></li>
								<li><a href="locations.html">Google Map Locations</a></li>
							</ul>
						</li>
						<li>
							<a href="#">Shop</a>
							<ul class="sub-menu">
								<li><a href="shop.html">Shop</a></li>
								<li><a href="shop-grid.html">Shop Grid</a></li>
								<li><a href="shop-left-sidebar.html">Shop Left sidebar</a></li>
								<li>
									<a href="shop-right-sidebar.html">Shop right sidebar</a>
								</li>
								<li><a href="product-details.html">Shop details </a></li>
								<li><a href="cart.html">Cart</a></li>
								<li><a href="wishlist.html">Wishlist</a></li>
								<li><a href="checkout.html">Checkout</a></li>
								<li><a href="order-tracking.html">Order Tracking</a></li>
								<li><a href="account.html">My Account</a></li>
								<li><a href="login.html">Sign in</a></li>
								<li><a href="register.html">Register</a></li>
							</ul>
						</li>
						<li>
							<a href="#">News</a>
							<ul class="sub-menu">
								<li><a href="blog.html">News</a></li>
								<li><a href="blog-grid.html">News Grid</a></li>
								<li><a href="blog-left-sidebar.html">News Left sidebar</a></li>
								<li>
									<a href="blog-right-sidebar.html">News Right sidebar</a>
								</li>
								<li><a href="blog-details.html">News details</a></li>
							</ul>
						</li>
						<li>
							<a href="#">Pages</a>
							<ul class="sub-menu">
								<li><a href="about.html">About</a></li>
								<li><a href="service.html">Services</a></li>
								<li><a href="service-details.html">Service Details</a></li>
								<li><a href="portfolio.html">Portfolio</a></li>
								<li><a href="portfolio-2.html">Portfolio - 02</a></li>
								<li><a href="portfolio-details.html">Portfolio Details</a></li>
								<li><a href="team.html">Team</a></li>
								<li><a href="team-details.html">Team Details</a></li>
								<li><a href="faq.html">FAQ</a></li>
								<li><a href="history.html">History</a></li>
								<li><a href="add-listing.html">Add Listing</a></li>
								<li><a href="locations.html">Google Map Locations</a></li>
								<li><a href="404.html">404</a></li>
								<li><a href="contact.html">Contact</a></li>
								<li><a href="coming-soon.html">Coming Soon</a></li>
							</ul>
						</li>
						<li><a href="contact.html">Contact</a></li>
					</ul>
				</div>
				<div class="ltn__utilize-buttons ltn__utilize-buttons-2">
					<ul>
						<li>
							<a href="account.html" title="My Account">
								<span class="utilize-btn-icon">
									<i class="far fa-user"></i>
								</span>
								My Account
							</a>
						</li>
						<li>
							<a href="wishlist.html" title="Wishlist">
								<span class="utilize-btn-icon">
									<i class="far fa-heart"></i>
									<sup>3</sup>
								</span>
								Wishlist
							</a>
						</li>
						<li>
							<a href="cart.html" title="Shoping Cart">
								<span class="utilize-btn-icon">
									<i class="fas fa-shopping-cart"></i>
									<sup>5</sup>
								</span>
								Shoping Cart
							</a>
						</li>
					</ul>
				</div>
				<div class="ltn__social-media-2">
					<ul>
						<li>
							<a href="#" title="Facebook"><i class="fab fa-facebook-f"></i></a>
						</li>
						<li>
							<a href="#" title="Twitter"><i class="fab fa-twitter"></i></a>
						</li>
						<li>
							<a href="#" title="Linkedin"><i class="fab fa-linkedin"></i></a>
						</li>
						<li>
							<a href="#" title="Instagram"><i class="fab fa-instagram"></i></a>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<!-- Utilize Mobile Menu End -->

		<div class="ltn__utilize-overlay"></div>

		<!-- SLIDER AREA START (slider-4) -->
		<div class="ltn__slider-area ltn__slider-4">
			<div
				class="ltn__slide-one-active----- slick-slide-arrow-1----- slick-slide-dots-1----- arrow-white----- ltn__slide-animation-active"
			>
				<!-- ltn__slide-item -->
				<div
					class="ltn__slide-item ltn__slide-item-2 ltn__slide-item-4 bg-image bg-overlay-theme-black-60"
					data-bs-bg="img/slider/11.jpg"
				>
					<div class="ltn__slide-item-inner text-left">
						<div class="container">
							<div class="row">
								<div class="col-lg-12 align-self-center">
									<div class="slide-item-car-dealer-form">
										<div class="ltn__car-dealer-form-tab">
											<div class="ltn__tab-menu text-uppercase">
												<div class="nav">
													<a
														class="active show"
														data-bs-toggle="tab"
														href="#ltn__form_tab_1_1"
														><i class="fas fa-home"></i>Buy Home</a
													>
												</div>
											</div>
											<div class="tab-content">
												<div
													class="tab-pane fade active show"
													id="ltn__form_tab_1_1"
												>
													<div class="car-dealer-form-inner">
														<div
															action="#"
															class="ltn__car-dealer-form-box row"
														>
															<div
																class="ltn__car-dealer-form-item ltn__custom-icon ltn__icon-calendar col-lg-4 col-md-6"
															>
																<select class="nice-select">
																	<option>Property Type</option>
																	<option>Apartment</option>
																	<option>Co-op</option>
																	<option>Condo</option>
																	<option>Single Family Home</option>
																</select>
															</div>
															<div
																class="ltn__car-dealer-form-item ltn__custom-icon ltn__icon-car col-lg-4 col-md-6"
															>
																<select class="nice-select">
																	<option>Location</option>
																	<option>chicago</option>
																	<option>London</option>
																	<option>Los Angeles</option>
																	<option>New York</option>
																	<option>New Jersey</option>
																</select>
															</div>
															<div
																class="ltn__car-dealer-form-item ltn__custom-icon ltn__icon-meter col-lg-4 col-md-6"
															>
																<select class="nice-select">
																	<option>Sub Location</option>
																	<option>Bayonne</option>
																	<option>Greenville</option>
																	<option>Manhattan</option>
																	<option>Queens</option>
																	<option>The Heights</option>
																	<option>Upper East Side</option>
																	<option>West Side</option>
																</select>
															</div>
															<div
																class="ltn__car-dealer-form-item ltn__custom-icon ltn__icon-ring col-lg-4 col-md-6"
															>
																<select class="nice-select">
																	<option>Bedrooms</option>
																	<option>1</option>
																	<option>2</option>
																	<option>3</option>
																	<option>4</option>
																</select>
															</div>
															<div
																class="ltn__car-dealer-form-item ltn__custom-icon ltn__icon-cog col-lg-4 col-md-6"
															>
																<div
																	class="input-item input-item-name ltn__custom-icon"
																>
																	<input
																		type="text"
																		name="name"
																		placeholder="Min size (in sqft)"
																	/>
																</div>
															</div>
															<div
																class="ltn__car-dealer-form-item ltn__custom-icon ltn__icon-cog col-lg-4 col-md-6"
															>
																<div
																	class="input-item input-item-name ltn__custom-icon"
																>
																	<input
																		type="text"
																		name="name"
																		placeholder="Max size (in sqft)"
																	/>
																</div>
															</div>
															<div class="car-price-filter-range col-lg-12">
																<div class="btn-wrapper text-center">
																	<button
																		type="submit"
																		id="filterButton"
																		class="btn theme-btn-1 btn-effect-1 text-uppercase"
																	>
																		Search Inventory
																	</button>
																	<!-- <a
																		href="shop-right-sidebar.html"
																		class="btn theme-btn-1 btn-effect-1 text-uppercase"
																		>Search Inventory</a
																	> -->
																</div>
															</div>
														</div>
													</div>
												</div>
												<div class="tab-pane fade" id="ltn__form_tab_1_2">
													<div class="car-dealer-form-inner">
														<div
															action="#"
															class="ltn__car-dealer-form-box row"
														>
															<div
																class="ltn__car-dealer-form-item ltn__custom-icon ltn__icon-calendar col-lg-4 col-md-6"
															>
																<select class="nice-select">
																	<option>Property Type</option>
																	<option>Apartment</option>
																	<option>Co-op</option>
																	<option>Condo</option>
																	<option>Single Family Home</option>
																</select>
															</div>
															<div
																class="ltn__car-dealer-form-item ltn__custom-icon ltn__icon-car col-lg-4 col-md-6"
															>
																<select class="nice-select">
																	<option>Location</option>
																	<option>chicago</option>
																	<option>London</option>
																	<option>Los Angeles</option>
																	<option>New York</option>
																	<option>New Jersey</option>
																</select>
															</div>
															<div
																class="ltn__car-dealer-form-item ltn__custom-icon ltn__icon-meter col-lg-4 col-md-6"
															>
																<select class="nice-select">
																	<option>Sub Location</option>
																	<option>Bayonne</option>
																	<option>Greenville</option>
																	<option>Manhattan</option>
																	<option>Queens</option>
																	<option>The Heights</option>
																	<option>Upper East Side</option>
																	<option>West Side</option>
																</select>
															</div>
															<div
																class="ltn__car-dealer-form-item ltn__custom-icon ltn__icon-ring col-lg-4 col-md-6"
															>
																<select class="nice-select">
																	<option>Bedrooms</option>
																	<option>1</option>
																	<option>2</option>
																	<option>3</option>
																	<option>4</option>
																</select>
															</div>
															<div
																class="ltn__car-dealer-form-item ltn__custom-icon ltn__icon-cog col-lg-4 col-md-6"
															>
																<div
																	class="input-item input-item-name ltn__custom-icon"
																>
																	<input
																		type="text"
																		name="name"
																		placeholder="Min size (in sqft)"
																	/>
																</div>
															</div>
															<div
																class="ltn__car-dealer-form-item ltn__custom-icon ltn__icon-cog col-lg-4 col-md-6"
															>
																<div
																	class="input-item input-item-name ltn__custom-icon"
																>
																	<input
																		type="text"
																		name="name"
																		placeholder="Max size (in sqft)"
																	/>
																</div>
															</div>
															<div class="car-price-filter-range col-lg-12">
																<div class="btn-wrapper text-center">
																	<button
																		type="submit"
																		id="filterButton"
																		class="btn theme-btn-1 btn-effect-1 text-uppercase"
																	>
																		Search Inventory
																	</button>
																	<!-- <a
																		href="shop-right-sidebar.html"
																		class="btn theme-btn-1 btn-effect-1 text-uppercase"
																		>Search Inventory</a
																	> -->
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- SLIDER AREA END -->

		<!-- PRODUCT SLIDER AREA START -->
		<div class="ltn__product-slider-area ltn__product-gutter pt-115 pb-70">
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
						<div class="section-title-area ltn__section-title-2--- text-center">
							<h6
								class="section-subtitle section-subtitle-2 ltn__secondary-color"
							>
								Property
							</h6>
							<h1 class="section-title">Latest Listings</h1>
						</div>
					</div>
				</div>
				<div
					id="resultsList"
					class="row ltn__product-slider-item-three-active--- slick-arrow-1"
				></div>
			</div>
		</div>
		<!-- PRODUCT SLIDER AREA END -->

		<!-- FOOTER AREA START -->
		<footer class="ltn__footer-area">
			<div class="ltn__copyright-area ltn__copyright-2 section-bg-7 plr--5">
				<div class="container-fluid ltn__border-top-2">
					<div class="row">
						<div class="col-md-6 col-12">
							<div class="ltn__copyright-design clearfix">
								<p>
									All Rights Reserved @ Company
									<span class="current-year"></span>
								</p>
							</div>
						</div>
						<div class="col-md-6 col-12 align-self-center">
							<div class="ltn__copyright-menu text-end">
								<ul>
									<li><a href="#">Terms & Conditions</a></li>
									<li><a href="#">Claim</a></li>
									<li><a href="#">Privacy & Policy</a></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</footer>
		<!-- FOOTER AREA END -->
	</div>
	<!-- Body main wrapper end -->

	<!-- preloader area start -->
	<div class="preloader d-none" id="preloader">
		<div class="preloader-inner">
			<div class="spinner">
				<div class="dot1"></div>
				<div class="dot2"></div>
			</div>
		</div>
	</div>
	<!-- preloader area end -->

	<!-- All JS Plugins -->
	<script src="../js/plugins.js"></script>
	<!-- Main JS -->
	<script src="../js/main.js"></script>

	<script>
		/* list container node */
		const resultsList = document.getElementById('resultsList')

		const getInitialData = async () => {
			/* fetch data */
			const zillowURI =
				'https://api.apify.com/v2/datasets/cdcjgxj4POsh9Faz1/items?token=apify_api_vx9jttk1Q2m6Kg7fXLKbuHFTh84E7f3SMYWE'

			const res = await fetch(zillowURI)

			return await res.json()
		}

		getInitialData().then(async (data) => {
			const options = {
				method: 'GET',
				headers: {
					'X-RapidAPI-Key':
						'3fddde8351msh7a6c4aa7290f1cbp17ac8ejsn3b5743625c0c',
					'X-RapidAPI-Host': 'walk-score.p.rapidapi.com',
				},
			}

			data.forEach(async (result) => {
				const walkScoreURI = `https://walk-score.p.rapidapi.com/score?lat=${result.latitude}&address=${result.address.streetAddress}&wsapikey=ffd1c56f9abcf84872116b4cc2dfcf31&lon=${result.longitude}&format=json`

				const res = await fetch(walkScoreURI, options)

				res
					.json()
					.then((walkData) => {
						const walkScore = walkData.walkscore

						/* creating DOM elements for card */
						const outerParentDiv = document.createElement('div')
						outerParentDiv.className = 'col-xl-4 col-sm-6 col-12'

						const innerParentDiv = document.createElement('div')
						innerParentDiv.className =
							'ltn__product-item ltn__product-item-4 ltn__product-item-5 text-center---'

						const productImageDiv = document.createElement('div')
						productImageDiv.className = 'product-img'

						const productDetails = document.createElement('a')
						productDetails.href = '#'

						const productImage = document.createElement('img')
						productImage.src = result.photos[0]
						productImage.referrerPolicy = 'no-referrer'
						productImage.style.width = '100%'
						productImage.style.aspectRatio = '328 / 251'

						const productInfo = document.createElement('div')
						productInfo.className = 'product-info'

						const productBadge = document.createElement('div')
						productBadge.className = 'product-badge'

						const badgeUl = document.createElement('ul')

						const badgeLi = document.createElement('li')
						/* this might be a typo check back later */
						badgeLi.className = 'sale-badg'
						badgeLi.textContent = result.homeStatus.replaceAll('_', ' ')

						const productTitle = document.createElement('h2')
						productTitle.className = 'product-title'

						const productTitleLink = document.createElement('a')
						productTitleLink.href = '#'
						productTitleLink.textContent = result.homeType.replaceAll('_', ' ')

						const productImageLocation = document.createElement('div')
						productImageLocation.className = 'product-img-location'

						const productImageLocationUl = document.createElement('ul')

						const productImageLocationLi = document.createElement('li')

						const productImageLocationA = document.createElement('a')
						productImageLocationA.href = '#'

						const productImageLocationI = document.createElement('I')
						productImageLocationI.className = 'flaticon-pin'

						const streetAddress = document.createTextNode(
							` ${result.address.streetAddress}`
						)

						const listItemUl = document.createElement('ul')
						listItemUl.className =
							'ltn__list-item-2--- ltn__list-item-2-before--- ltn__plot-brief'

						const listItemLi1 = document.createElement('li')

						const listItemSpan1 = document.createElement('span')
						listItemSpan1.textContent = `${result.bedrooms} `

						const listItemText1 = document.createTextNode('Bed')

						const listItemLi2 = document.createElement('li')

						const listItemSpan2 = document.createElement('span')
						listItemSpan2.textContent = `${result.bathrooms} `

						const listItemText2 = document.createTextNode('Bath')

						const listItemLi3 = document.createElement('li')

						const listItemSpan3 = document.createElement('span')
						listItemSpan3.textContent = `${result.livingArea} `

						const listItemText3 = document.createTextNode('Square Ft')

						const listItemLi4 = document.createElement('li')

						const listItemSpan4 = document.createElement('span')
						listItemSpan4.textContent = `${walkScore} `

						const listItemText4 = document.createTextNode('Walk Score')

						const productInfoBottom = document.createElement('div')
						productInfoBottom.className = 'product-info-bottom'

						const productPrice = document.createElement('div')
						productPrice.className = 'product-price'

						const productPriceSpan = document.createElement('span')
						productPriceSpan.textContent = `$${result.price.toLocaleString()}`

						/* appending created elements to the DOM */
						resultsList.appendChild(outerParentDiv).appendChild(innerParentDiv)

						innerParentDiv
							.appendChild(productImageDiv)
							.appendChild(productDetails)
							.appendChild(productImage)

						innerParentDiv.appendChild(productInfo)

						productInfo
							.appendChild(productBadge)
							.appendChild(badgeUl)
							.appendChild(badgeLi)

						productInfo.appendChild(productTitle).appendChild(productTitleLink)

						productInfo
							.appendChild(productImageLocation)
							.appendChild(productImageLocationUl)
							.appendChild(productImageLocationLi)
							.appendChild(productImageLocationA)
							.append(productImageLocationI, streetAddress)

						productInfo.appendChild(listItemUl)

						listItemUl
							.appendChild(listItemLi1)
							.append(listItemSpan1, listItemText1)
						listItemUl
							.appendChild(listItemLi2)
							.append(listItemSpan2, listItemText2)
						listItemUl
							.appendChild(listItemLi3)
							.append(listItemSpan3, listItemText3)
						listItemUl
							.appendChild(listItemLi4)
							.append(listItemSpan4, listItemText4)

						innerParentDiv
							.appendChild(productInfoBottom)
							.appendChild(productPrice)
							.appendChild(productPriceSpan)
					})
					.catch(console.log)
			})
		})

		document.getElementById('filterButton').addEventListener('click', () => {
			console.log('hello world')
		})
	</script>
</body>
